<div class="nav-header">
  <app-header></app-header>
</div>

<div class="nav-content">
  <div class="row dashboard_row" style="margin-top:20px; ">
    <div class="columns small-5 text-center" style="box-shadow: 0px 0px 20px -15px;" >
      <button [routerLink]="['/me']"><mat-icon mat-list-icon>person</mat-icon></button><br><span>Über mich </span>
    </div>
    <div class="columns small-5 text-center" style="box-shadow: 0px 0px 20px -15px;">
            <button [routerLink]="['/me']"><mat-icon mat-list-icon>work</mat-icon></button><br><span>Job</span>
    </div>
  </div>

  <div class="row dashboard_row" style="">
    <div class="columns small-5 text-center" style="box-shadow: 0px 0px 20px -15px;">
            <button [routerLink]="['/me']"><mat-icon mat-list-icon>child_care</mat-icon></button><br><span>Kinder</span>
    </div>
    <div class="columns small-5 text-center" style="box-shadow: 0px 0px 20px -15px;">
            <button [routerLink]="['/me']"><mat-icon mat-list-icon>school</mat-icon></button><br><span>Bildung</span>
    </div>

  </div>



  <div class="row dashboard_row" style="">
    <div class="columns small-5 text-center" style="box-shadow: 0px 0px 20px -15px;">
            <button [routerLink]="['/me']"><mat-icon mat-list-icon>favorite</mat-icon></button><br><span>Leben</span>
    </div>
    <div class="columns small-5 text-center" style="box-shadow: 0px 0px 20px -15px;">
            <button [routerLink]="['/me']"><mat-icon mat-list-icon>home</mat-icon></button><br><span>Zuhause</span>
    </div>

  </div>
</div>

<div class="nav-footer">
  <app-footer></app-footer>
</div>

<!-- 



<div style="margin-top: 200px;">DEV LINK</div>
<div style="margin:25px">
  <div><button mat-icon-button [routerLink]="['/home']">home</button></div>
  <div><button mat-icon-button [routerLink]="['/profile']">profile</button></div>
  <div><button mat-icon-button [routerLink]="['/support']">support</button></div>
  <div><button mat-icon-button [routerLink]="['/login']">login</button></div>
</div>  


-->