/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body .mat-select-panel {
  background-color: white !important;
  font-size: 18px !important;
  font-weight: bold !important;
  border-radius: 0;
  padding: 12px !important;
  min-width: calc(100% + 6px) !important;
}

body .mat-select-panel .mat-option {
    padding-left: 12px !important;
}

body .mat-select-arrow {
    border-top-color: #11487c;
}

body .mat-focused .mat-select-arrow {
    border-top: 0;
    border-bottom: 5px solid #11487c;
}

body .mat-form-field-underline::before {
    background-color: rgba(0, 0, 0, 0) !important;
}

body .mat-focused .mat-form-field-underline::before {
    background-color: #11487c !important;
    height: 5px !important;
}

body .mat-form-field-flex {
    border: 1px solid #dfdfdf;
}

body .mat-focused .mat-form-field-flex {
    border: 1px solid rgba(0, 0, 0, 0);
}

body .nav-header {
    position: fixed;
    top: 0;
    z-index: 1;
}

body .nav-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

body .nav-content {
    margin-top: 70px !important;
    padding-bottom: 70px !important;
    z-index: 0;
}

body .mat-card {
    box-shadow: none !important;
}