<div class="nav-header">
  <app-header></app-header>
</div>

<div class="nav-content">
	<div class="row">
		<div class="small-10 columns">
			<h2>Um welches Steuerjahr geht es?</h2>
    		<button style="margin-left: 10px; background:#11487c" class="button" [routerLink]="['/home']">Steuerjahr 2020</button>
    		<button style="margin-left: 10px; background:#11487c" class="button" [routerLink]="['/home']">Steuerjahr 2019</button>
    		<button style="margin-left: 10px; background:#11487c" class="button" [routerLink]="['/home']">Steuerjahr 2018</button>
    		<button style="margin-left: 10px; background:#11487c" class="button" [routerLink]="['/home']">Steuerjahr 2017</button>
		</div>
	</div>
</div>

<div class="nav-footer">
  <app-footer></app-footer>
</div>
